<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring Schema -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	<!-- Beans -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://localhost:3307/bookstore" p:user="root"
		p:password="zcx0605" p:maxPoolSize="40" p:minPoolSize="1"
		p:initialPoolSize="1" p:maxIdleTime="20" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource">
		<property name="mappingResources">
			<list>
				<value>model/User.hbm.xml</value>
				<value>model/Book.hbm.xml</value>
				<value>model/Admin.hbm.xml</value>
				<value>model/BookComment.hbm.xml</value>
				<value>model/BookIN.hbm.xml</value>
				<value>model/BuyOrder.hbm.xml</value>
				<value>model/BuyOrderCommentRecord.hbm.xml</value>
				<value>model/BuyOrderFeedback.hbm.xml</value>
				<value>model/CoinChangeRecord.hbm.xml</value>
				<value>model/CreditChangeRecord.hbm.xml</value>
				<value>model/LendOrder.hbm.xml</value>
				<value>model/LendOrderCommentRecord.hbm.xml</value>
				<value>model/LendOrderFeedback.hbm.xml</value>
				<value>model/RequestBook.hbm.xml</value>
				
			</list>
		</property>
		<!-- Hibernate SessionFactory -->
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLInnoDBDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.format_sql=true
			</value>
		</property>
	</bean>
	
	<!-- Dao bean -->
	<bean id="userDao" class="dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="bookDao" class="dao.impl.BookDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="adminDao" class="dao.impl.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="bookCommentDao" class="dao.impl.BookCommentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="bookINDao" class="dao.impl.BookINDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="buyOrderDao" class="dao.impl.BuyOrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="buyOrderCommentRecordDao" class="dao.impl.BuyOrderCommentRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="buyOrderFeedbackDao" class="dao.impl.BuyOrderFeedbackDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="coinChangeRecordDao" class="dao.impl.CoinChangeRecordDaoImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="creditChangeRecordDao" class="dao.impl.CreditChangeRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="lendOrderDao" class="dao.impl.LendOrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="lendOrderCommentRecordDao" class="dao.impl.LendOrderCommentRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="lendOrderFeedbackDao" class="dao.impl.LendOrderFeedbackDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="requestBookDao" class="dao.impl.RequestBookDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Service -->
	<bean id="appService" class="service.impl.AppServiceImpl">
		<!-- DAO -->
		<property name="userDao" ref="userDao" />
		<property name="bookDao" ref="bookDao" />
		<property name="bookCommentDao" ref="bookCommentDao" /> 
		<property name="creditChangeRecordDao" ref="creditChangeRecordDao" />
		<property name="coinChangeRecordDao" ref="coinChangeRecordDao" />
		<property name="adminDao" ref="adminDao" />
		<property name="bookINDao" ref="bookINDao" />
		<property name="lendOrderDao" ref="lendOrderDao" />
		<property name="requestBookDao" ref="requestBookDao" />
		<property name="buyOrderDao" ref="buyOrderDao" />
		<property name="buyOrderFeedbackDao" ref="buyOrderFeedbackDao" />
		<property name="lendOrderFeedbackDao" ref="lendOrderFeedbackDao" />
		<property name="buyOrderCommentRecordDao" ref="buyOrderCommentRecordDao" />
		<property name="lendOrderCommentRecordDao" ref="lendOrderCommentRecordDao" />
		
	</bean>
	
	<!-- Hibernate Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />
		
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- appService Bean -->
		<aop:pointcut id="beanPointcut" expression="bean(appService)" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="beanPointcut" />
	</aop:config>
	
</beans>