@CHARSET "UTF-8";
/* index_book use this css*/

 
div.center{
	text-align:center;
}

div.background
{
 background-image: url(../images/index1_bookbg.png);
 background-repeat: no-repeat;
 background-position: top center;


 
 box-sizing:!border-box;
 -moz-box-sizing:!border-box; /* Firefox */
 -webkit-box-sizing:!border-box; /* Safari */
 -webkit-box-pack:center; 
 -moz-box-pack:center; 
 -webkit-box-align:center; 
 -moz-box-align:center; 
 /*width:228px;
 height:250px;*/
 float:left;
 text-align:center;
}
@media (min-width: 0px) {
  div.background {
    width: 145px;
    height:160px;
    font-size:14px;
 padding:15px 8px 3px 8px;
 background-size:75%;
  }
  img.listbook{
	/*width:40%;*/
	height:55%;
  }
}
@media (min-width: 320px) {
  div.background {
    width: 45%;
    height:160px;
    font-size:14px;
 padding:15px 8px 3px 8px;
 background-size:108px;
  }
  img.listbook{
	/*width:40%;*/
	height:55%;
  } 
}
@media (min-width: 465px) {
  div.background {
    width: 32%;
    height:160px;
    font-size:14px;
 padding:15px 8px 3px 8px;
 background-size:108px;
  }
  img.listbook{
	/*width:40%;*/
	height:55%;
  } 
}
@media (min-width: 520px) {
  div.background {
    width: 32%;
    height:210px;
    font-size:17px;
 padding:17px 8px 3px 8px;
 background-size:140px;
  }
  img.listbook{
	/*width:40%;*/
	height:55%;
  } 
}
@media (min-width: 768px) {
  div.background {
    width: 228px;
    height:250px;
    font-size:20px;
 padding:28px 8px 3px 8px;
 background-size:75%;
  }
  img.listbook{
	/*width:40%;*/
	height:55%;
  }   
}

 div.test
{
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
white-space:nowrap; 
width:228px;
overflow:hidden; 
text-overflow:ellipsis;
}
div.test:hover
{
text-overflow:inherit;
overflow:visible;
}
 
div.box
{
font-size:20px;
box-sizing:!border-box;
-moz-box-sizing:!border-box; /* Firefox */
-webkit-box-sizing:!border-box; /* Safari */
width:20%;
float:left;
text-align:center;
padding:15px 8px 3px 8px;
}
.beautiful{
	width:40%;
}


.caret2 {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup2,
.dropdown2 {
  position: relative;
}
.dropdown2-toggle:focus {
  outline: 0;
}
.dropdown2-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown2-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown2-menu > li > a:hover,
.dropdown2-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}