@charset "utf-8";
/*
*{padding:0px;margin:0px;}
body{min-width:980px;background-color:#fafafa;font:12px/1.5 arial,sans-serif;}
body,ul,h1{margin:0px;}
ul{list-style-type:none;}
img{display:block;}/*变成块集元素
a{text-decoration:none;}*/

/*--弹窗样式--*/

#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;}

.popup{
	width:380px; 
	height:auto;
	background-color:#fff;
	position:absolute;
	z-index:9000;
	border:1px solid #D5D5D5;
	left:0px;
	top:0px;
	display:none;
	
}
.popup .top_nav{
	height:48px;
	background: #f5f5f5;
	border-bottom:1px solid #efefef;
	position:relative;
	cursor:move;
}
.popup .top_nav i{
	width:35px;height:35px;
	background:url(../images/sucai_tubiao.png) -314px -5px;
	position:absolute;top:6px;
	left:8px;display:block; }
	
.popup .top_nav span{
	font:18px/18px 'microsoft yahei';
	color:#707070;display:block;
	position:absolute;top:13px;
	left:20px;
	}

.popup .top_nav a.guanbi { 
	background:url(../images/popup_guanbi.png) repeat 0px 0px; 
	width:35px; height: 35px; 
	display: block; position:absolute;
	top:8px;right:10px;cursor:pointer;
	}
	
.popup .top_nav a.guanbi span { display: none;}
.popup .top_nav a.guanbi:hover {
	background: url(../images/popup_guanbi.png) repeat 0px -35px; 
	}
	
.popup .min{
	width:380px;
	height:auto;
	}

.tc_login{width:90%;height:auto;background-color:#fff;	margin: 10px 19px 19px 19px;}

.tc_login .right{
	width:100%;height:auto;
	align:center;
	}
	
.tc_login .right i{
	font-size:20px;
	color:#090;float:right;
	margin:15px 20px 0px 0;
	}
	
.tc_login .right a{
	height: 40px;line-height: 40px;
	text-align: right;
	color:#efbb24;
	font-size: 12px;
	}
	
.tc_login .right a:hover{color:#d19826;text-decoration: underline;}
.tc_login .right input{
    font-family: 'Open Sans', sans-serif;
    transition: background 0.3s ease-in-out;
    
    width: 100%;
    height: 40px;
	margin: 0px;padding:0px;
	border: 1px solid #d5d5d5;
	font-size: 16px;color: #c1c1c1;
	text-indent: 25px;
	outline: none;

}
.tc_login .right input:focus {
    outline: none;
    border-color: #efbb24;
    box-shadow: 0 0 0px #efbb24;
}
.tc_login .right .input_yh{background: url(../images/input_username.png) no-repeat 2px ;}
.tc_login .right .input_mm{background: url(../images/input_password.png) no-repeat 2px ;}

.tc_login .right .button{
   -webkit-appearance: none;
    background:#efbb24;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	padding:0 0px 0 0px;
	font-weight: bold;
	outline: none;
	text-decoration: none;
	display: block;line-height: 50px;

	}
.tc_login .right .button:hover {

    background: #d19826;
}

.tc_login .right hr{height:1px;border:none;border-top:1px dashed #E4E4E4;clear:both;margin:240px 0 5px 0px;}

.zzsc{ margin:0 auto; width:580px; height:80px; border:0px solid #efbb24} 
.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #efbb24;
    margin: 5px;
    background-color: #efbb24;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #efbb24;
    background-color: #efbb24;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}